<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>EKS Web Design</title>

  <!-- slider stylesheet -->
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />

  <style>
    .target_section {
      background-image: url("{{ url_for('static', filename='images/target-bg.jpg') }}");
      background-size: cover;
      background-attachment: fixed; /* Enables the parallax effect */
      background-position: center;
      background-repeat: no-repeat;
      
      text-align: center;
      padding: 60px 0; /* Adjust padding for better spacing */
    }
    .footer_section {
      background-image: url("{{ url_for('static', filename='images/target-bg.jpg') }}");
      background-size: cover;
      background-attachment: fixed; /* Enables the parallax effect */
      background-position: center;
      background-repeat: no-repeat;
      color: #ffffff;
      font-weight: 500;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .info_section {
      background-color: #232323;
      background-image: url("{{ url_for('static', filename='images/target-bg.jpg') }}");
      background-size: cover;
      background-attachment: fixed; /* Enables parallax effect */
      background-position: center;
      background-repeat: no-repeat;
      color: #ffffff;
      padding: 90px 0 45px 0;}
  </style>
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand">
            <span>
              EKS Web design
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
               
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#aboutus"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#wwd"> What we do </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#works"> Portfolio </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact us</a>
                </li>
              </ul>
              <div class="user_option">
                <a href="">
                
                </a>
               
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col">
                  <div class="detail-box">
                    <div>
                      <h2>
                        Welcome To

                      </h2>
                      <h1>
                        EKS web designs
                      </h1>
                      <p>
                        High Quality, High Traffic, Custom Websites.
                      </p>
                      <div class="">
                        <a href="#contact" class="nav-link">
                          Contact us
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- do section -->

  <section id="wwd"class="do_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          What we do
        </h2>
        <p>
          Planning, Desgining and Maintaining industry-leading websites for companies large and small.
        </p>
      </div>
      <div class="do_container">
        <div class="box arrow-start arrow_bg">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/tools1.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Maintenance
            </h6>
          </div>
        </div>
        <div class="box arrow-middle arrow_bg">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/d-2.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Development
            </h6>
          </div>
        </div>
        <div class="box arrow-middle arrow_bg">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/d-3.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Html5
            </h6>
          </div>
        </div>
        <div class="box arrow-end arrow_bg">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/d-4.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Css
            </h6>
          </div>
        </div>
        <div class="box ">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/d-5.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Wordpress
            </h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end do section -->

  <!-- who section -->

  <section id='aboutus'class="who_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/who-img.jpg') }}" alt="">
          </div>
        </div>
        <div class="col-md-7">

          <div class="detail-box">
            <div class="heading_container">
              <h2>
                WHO WE ARE?
              </h2>
            </div>
            <p>
              At EKS Web Designs, we’re all about helping businesses make their mark online. Whether you're just starting out or need a refresh, we design custom websites that look great and get results. We handle everything from the initial planning to keeping your site running smoothly, so you can focus on what you do best. Let's bring your vision to life and help your business shine online!
            </p>
            <div>
              <a href="#contact" class="nav-link">
                Contact Us
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end who section -->


  <!-- work section -->
  <section id='works'class="work_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Previous Works
        </h2>
        <p>
          a small snipet of what EKS Web Designs has to offer
        </p>
      </div>
      <div class="work_container layout_padding2">
        <div class="box b-1">
          <img src="{{ url_for('static', filename='images/w-1.png') }}" alt="">
        </div>
        <div class="box b-2">
          <img src="{{ url_for('static', filename='images/w-2.png') }}" alt="">

        </div>
        <div class="box b-3">
          <img src="{{ url_for('static', filename='images/w-3.png') }}" alt="">

        </div>
        <div class="box b-4">
          <img src="{{ url_for('static', filename='images/w-4.png') }}" alt="">

        </div>
      </div>
    </div>
  </section>

  <!-- end work section -->

  <!-- client section -->
  <!--
  <section class="client_section">
    <div class="container">
      <div class="heading_container">
        <h2>
          WHAT CUSTOMERS SAY
        </h2>
      </div>
      <div class="carousel-wrap ">
        <div class="owl-carousel">
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="images/c-1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Tempor incididunt <br>
                  <span>
                    Dipiscing elit
                  </span>
                </h5>
                <img src="images/quote.png" alt="">
                <p>
                  Dipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="images/c-2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Tempor incididunt <br>
                  <span>
                    Dipiscing elit
                  </span>
                </h5>
                <img src="images/quote.png" alt="">
                <p>
                  Dipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="images/c-3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Tempor incididunt <br>
                  <span>
                    Dipiscing elit
                  </span>
                </h5>
                <img src="images/quote.png" alt="">
                <p>
                  Dipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
-->
  <!-- end client section -->

  <!-- target section -->
  <section class="target_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="detail-box">
            <h2>
              
            </h2>
            <h5>
              Small business
            </h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="detail-box">
            <h2>
              
            </h2>
            <h5>
              Projects Delivered on time
            </h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="detail-box">
            <h2>
              
            </h2>
            <h5>
              Satisfied Customers
            </h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="detail-box">
            <h2>
              
            </h2>
            <h5>
              Motivated Employees
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- end target section -->


  <!-- contact section -->

  <section id='contact' class="contact_section layout_padding">
    <div class="container">

      <div class="heading_container">
        <h2>
          Get in Contact
        </h2>
      </div>
      <div class="">
        <div class="">
          <div class="row">
            <div class="col-md-9 mx-auto">
              <div class="contact-form">
                <form action="{{ url_for('send_message') }}" method="POST">
                  <div>
                    <input type="text" placeholder="Full Name " name="name">
                  </div>
                  <div>
                    <input type="text" placeholder="Phone Number" name="phone">
                  </div>
                  <div>
                    <input type="email" placeholder="Email Address" name='email'>
                  </div>
                  <div>
                    <input type="text" placeholder="Message" class="input_message" name='message'>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn_on-hover" href=url for sendmessgaes>
                      Send
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>

  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Your message was sent sucsessfully</h2>
        <p>We will get back to you as soon as possible</p>
        
        
    </div>

  </div>



  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About Us
            </h5>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/location-white.png') }}" width="18px" alt="">
              </div>
              <p>
                Newcastle
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/telephone-white.png') }}" width="12px" alt="">
              </div>
              <p>
                +61 0402 859 778
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/envelope-white.png') }}" width="18px" alt="">
              </div>
              <p>
                simon.webdesignaus@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Information
            </h5>
            <p>
              founded in 2024 we are a small web design startup, get in contact to see what we can do for your business
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2024 All Rights Reserved By
      <a >EKS Web Designs</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  
  <!-- owl carousel script 
    -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 0,
      navText: [],
      center: true,
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        1000: {
          items: 3
        }
      }
    });
    document.querySelectorAll('.nav-link').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();
        const target = document.querySelector(this.getAttribute('href'));
        target.scrollIntoView({
          behavior: 'smooth',
          block: 'start'
        });
      });
    });
  </script>
  <script>
    // Get the modal and close button elements
    const modal = document.getElementById("myModal");
    const closeBtn = document.querySelector(".close");
  
    // Function to open the modal and disable scrolling
    function openModal() {
      modal.style.display = "flex";
      document.body.style.overflow = "hidden"; // Disable scrolling
    }
  
    // Function to close the modal and re-enable scrolling
    function closeModal() {
      modal.style.display = "none";
      document.body.style.overflow = ""; // Re-enable scrolling
    }
  
    // Conditionally open the modal based on Flask's displayModal variable
    {% if displayModal %}
      openModal(); // Open the modal if displayModal is True
    {% endif %}
  
    // Close the modal when the close button is clicked
    closeBtn.onclick = closeModal;
  
    // Close the modal if the user clicks outside the modal content
    window.onclick = function (event) {
      if (event.target === modal) {
        closeModal();
      }
    };
  </script>
</body>

</html>
